* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
}

.container_header{
    max-width: 1500px;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
}

.container_main{
    max-width: 1500px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #1a1c2b;
}

.logo{
   
    width: 150px;
}

.card{
    background-color: #090a16;
    color: white;
    transition: transform 0.2s;
}

.card:hover{
    transform: scale(1.1);
} 